.atms {
  &__title {
    padding-top: 50px;
    padding-bottom: 56px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    color: var(--color-black);
  }
}

.map {
  height: 728px;
}
