.form-login-error {
  display: none;
  position: absolute;
  top: -22px;
  left: 0;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-free-speech-red);
}

.form-password-error {
  display: none;
  position: absolute;
  top: -22px;
  left: 0;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-free-speech-red);
}
